# stupid files
.DS_Store

# where Cabal puts binaries and config
dist
.cabal-sandbox
cabal.sandbox.config

# Haskell compiled files
*.hi
*.o
*.dyn_hi
*.dyn_o
*.p_hi
*.p_o

# Sublime Text files
*.sublime-project
*.sublime-workspace

# extra
tmp
.stack-work
